<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.loktar.mapper.patent.PatentDetailMapper">
  <resultMap id="BaseResultMap" type="com.loktar.domain.patent.PatentDetail">
    <id column="patent_id" jdbcType="VARCHAR" property="patentId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="apply_id" jdbcType="VARCHAR" property="applyId" />
    <result column="apply_name" jdbcType="VARCHAR" property="applyName" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="apply_date" jdbcType="VARCHAR" property="applyDate" />
    <result column="pub_notice_num" jdbcType="VARCHAR" property="pubNoticeNum" />
    <result column="auth_notice_num" jdbcType="VARCHAR" property="authNoticeNum" />
    <result column="legal_status" jdbcType="VARCHAR" property="legalStatus" />
    <result column="case_status" jdbcType="VARCHAR" property="caseStatus" />
    <result column="auth_notice_date" jdbcType="VARCHAR" property="authNoticeDate" />
    <result column="main_category_num" jdbcType="VARCHAR" property="mainCategoryNum" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from patent_detail
    where patent_id = #{patentId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.loktar.domain.patent.PatentDetail">
    insert into patent_detail (patent_id, `name`, apply_id, 
      apply_name, `type`, apply_date, 
      pub_notice_num, auth_notice_num, legal_status, 
      case_status, auth_notice_date, main_category_num, 
      `status`, create_time, update_time
      )
    values (#{patentId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{applyId,jdbcType=VARCHAR}, 
      #{applyName,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{applyDate,jdbcType=VARCHAR}, 
      #{pubNoticeNum,jdbcType=VARCHAR}, #{authNoticeNum,jdbcType=VARCHAR}, #{legalStatus,jdbcType=VARCHAR}, 
      #{caseStatus,jdbcType=VARCHAR}, #{authNoticeDate,jdbcType=VARCHAR}, #{mainCategoryNum,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.loktar.domain.patent.PatentDetail">
    update patent_detail
    set `name` = #{name,jdbcType=VARCHAR},
      apply_id = #{applyId,jdbcType=VARCHAR},
      apply_name = #{applyName,jdbcType=VARCHAR},
      `type` = #{type,jdbcType=VARCHAR},
      apply_date = #{applyDate,jdbcType=VARCHAR},
      pub_notice_num = #{pubNoticeNum,jdbcType=VARCHAR},
      auth_notice_num = #{authNoticeNum,jdbcType=VARCHAR},
      legal_status = #{legalStatus,jdbcType=VARCHAR},
      case_status = #{caseStatus,jdbcType=VARCHAR},
      auth_notice_date = #{authNoticeDate,jdbcType=VARCHAR},
      main_category_num = #{mainCategoryNum,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where patent_id = #{patentId,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select patent_id, `name`, apply_id, apply_name, `type`, apply_date, pub_notice_num, 
    auth_notice_num, legal_status, case_status, auth_notice_date, main_category_num, 
    `status`, create_time, update_time
    from patent_detail
    where patent_id = #{patentId,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select patent_id, `name`, apply_id, apply_name, `type`, apply_date, pub_notice_num, 
    auth_notice_num, legal_status, case_status, auth_notice_date, main_category_num, 
    `status`, create_time, update_time
    from patent_detail
  </select>
  <select id="selectByStatus" resultMap="BaseResultMap">
    select patent_id, `name`, apply_id, apply_name, `type`, apply_date, pub_notice_num, auth_notice_num,
           legal_status, case_status, auth_notice_date, main_category_num, `status`, create_time,
           update_time
    from patent_detail
    where status = #{status,jdbcType=INTEGER}
  </select>
    <delete id="deleteByApplyId" parameterType="java.lang.String">
    delete from patent_detail
    where apply_id = #{applyId,jdbcType=VARCHAR}
  </delete>
  <insert id="insertBatch">
    insert into patent_detail (patent_id, `name`, apply_id,
                               apply_name, `type`, apply_date,
                               pub_notice_num, auth_notice_num, legal_status,
                               case_status, auth_notice_date, main_category_num,
                               `status`, create_time, update_time
    )
    values
    <foreach collection="list" separator="," item="item">
        (#{item.patentId,jdbcType=VARCHAR}, #{item.name,jdbcType=VARCHAR}, #{item.applyId,jdbcType=VARCHAR},
            #{item.applyName,jdbcType=VARCHAR}, #{item.type,jdbcType=VARCHAR}, #{item.applyDate,jdbcType=VARCHAR},
            #{item.pubNoticeNum,jdbcType=VARCHAR}, #{item.authNoticeNum,jdbcType=VARCHAR}, #{item.legalStatus,jdbcType=VARCHAR},
            #{item.caseStatus,jdbcType=VARCHAR}, #{item.authNoticeDate,jdbcType=VARCHAR}, #{item.mainCategoryNum,jdbcType=VARCHAR},
            #{item.status,jdbcType=INTEGER}, #{item.createTime,jdbcType=TIMESTAMP}, #{item.updateTime,jdbcType=TIMESTAMP}
           )
    </foreach>
  </insert>
  <select id="selectByApplyId" resultMap="BaseResultMap">
    select patent_id, `name`, apply_id, apply_name, `type`, apply_date, pub_notice_num, auth_notice_num,
           legal_status, case_status, auth_notice_date, main_category_num, `status`, create_time,
           update_time
    from patent_detail
    where apply_id = #{applyId,jdbcType=VARCHAR}

  </select>
    <select id="selectForQuote" resultMap="BaseResultMap">
      select patent_id, `name`, apply_id, apply_name, `type`, apply_date, pub_notice_num, auth_notice_num,
             legal_status, case_status, auth_notice_date, main_category_num, `status`, create_time,
             update_time
      from patent_detail
      where apply_id = #{param1,jdbcType=VARCHAR} and `type` = #{param2,jdbcType=VARCHAR} and case_status in ('专利权维持','等年费滞纳金') and apply_date<![CDATA[>=]]>'2021-01-01'
    </select>

    <select id="selectForQuoteV2" resultMap="BaseResultMap">
      select patent_id, `name`, apply_id, apply_name, `type`, apply_date, pub_notice_num, auth_notice_num,
             legal_status, case_status, auth_notice_date, main_category_num, `status`, create_time,
             update_time
      from patent_detail
      where apply_id = #{applyId,jdbcType=VARCHAR} and case_status in ('专利权维持','等年费滞纳金') and ((`type` ='实用新型' and apply_date<![CDATA[>=]]>'2021-01-01') or (`type` ='发明专利' and apply_date<![CDATA[>=]]>'2019-01-01'))
    </select>

  <select id="selectByTypeAndCaseStatus" resultMap="BaseResultMap">
      select pd.* from patent_detail pd left join patent_detail_doc_info pddi on pd.patent_id=pddi.patent_id
      where pd.`type`=#{type,jdbcType=VARCHAR} and pd.case_status=#{caseStatus,jdbcType=VARCHAR} and pd.`apply_date`<![CDATA[>=]]>'2021-01-01' and pddi.patent_id is null limit #{start,jdbcType=INTEGER} , #{end,jdbcType=INTEGER};
</select>
    <update id="updateStatusByPatentId">
    update patent_detail set `status` = #{status,jdbcType=INTEGER}  where patent_id = #{patentId,jdbcType=VARCHAR}
  </update>
  <update id="updateCaseStatusByPatentId">
    update patent_detail set `case_status` = #{caseStatus,jdbcType=INTEGER}  where patent_id = #{patentId,jdbcType=VARCHAR}
  </update>
  <select id="getNeedAnalyzeDocPatent" resultMap="BaseResultMap">
    select pd.* from patent_detail pd left join patent_detail_doc_info pddi on pd.patent_id = pddi.patent_id
    left join patent_detail_yitong pdy on pd.patent_id=pdy.patent_id
    where pd.type='发明专利' and pd.case_status='一通出案待答复' and pd.apply_date<![CDATA[>=]]>'2020-01-01'
      and pddi.doc_name = '第一次审查意见通知书' and pddi.doc_type='电子发文' and pddi.index=1 and pddi.doc_date <![CDATA[>]]> CURDATE() - INTERVAL 4 MONTH
      and pdy.patent_id is null
    order by pddi.doc_date desc;
  </select>


</mapper>