<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.loktar.mapper.patent.PatentMapper">
  <resultMap id="BaseResultMap" type="com.loktar.domain.patent.Patent">
    <id column="patent_id" jdbcType="VARCHAR" property="patentId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="apply_name" jdbcType="VARCHAR" property="applyName" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="apply_date" jdbcType="VARCHAR" property="applyDate" />
    <result column="pub_notice_num" jdbcType="VARCHAR" property="pubNoticeNum" />
    <result column="auth_notice_num" jdbcType="VARCHAR" property="authNoticeNum" />
    <result column="legal_status" jdbcType="VARCHAR" property="legalStatus" />
    <result column="case_status" jdbcType="VARCHAR" property="caseStatus" />
    <result column="auth_notice_date" jdbcType="VARCHAR" property="authNoticeDate" />
    <result column="main_category_num" jdbcType="VARCHAR" property="mainCategoryNum" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from patent
    where patent_id = #{patentId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.loktar.domain.patent.Patent">
    insert into patent (patent_id, `status`, content, 
      `name`, apply_name, `type`, 
      apply_date, pub_notice_num, auth_notice_num, 
      legal_status, case_status, auth_notice_date, 
      main_category_num, create_time, update_time
      )
    values (#{patentId,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{applyName,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{applyDate,jdbcType=VARCHAR}, #{pubNoticeNum,jdbcType=VARCHAR}, #{authNoticeNum,jdbcType=VARCHAR}, 
      #{legalStatus,jdbcType=VARCHAR}, #{caseStatus,jdbcType=VARCHAR}, #{authNoticeDate,jdbcType=VARCHAR}, 
      #{mainCategoryNum,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
    <update id="updateByPrimaryKey" parameterType="com.loktar.domain.patent.Patent">
    update patent
    set `status` = #{status,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      `name` = #{name,jdbcType=VARCHAR},
      apply_name = #{applyName,jdbcType=VARCHAR},
      `type` = #{type,jdbcType=VARCHAR},
      apply_date = #{applyDate,jdbcType=VARCHAR},
      pub_notice_num = #{pubNoticeNum,jdbcType=VARCHAR},
      auth_notice_num = #{authNoticeNum,jdbcType=VARCHAR},
      legal_status = #{legalStatus,jdbcType=VARCHAR},
      case_status = #{caseStatus,jdbcType=VARCHAR},
      auth_notice_date = #{authNoticeDate,jdbcType=VARCHAR},
      main_category_num = #{mainCategoryNum,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where patent_id = #{patentId,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select patent_id, `status`, content, `name`, apply_name, `type`, apply_date, pub_notice_num, 
    auth_notice_num, legal_status, case_status, auth_notice_date, main_category_num, 
    create_time, update_time
    from patent
    where patent_id = #{patentId,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select patent_id, `status`, content, `name`, apply_name, `type`, apply_date, pub_notice_num, 
    auth_notice_num, legal_status, case_status, auth_notice_date, main_category_num, 
    create_time, update_time
    from patent
  </select>
    <insert id="insertBatch">
    insert into patent (patent_id, `status`, content,
                        `name`, apply_name, `type`,
                        apply_date, pub_notice_num, auth_notice_num,
                        legal_status, case_status, auth_notice_date,
                        main_category_num, create_time, update_time
    )
    values
    <foreach collection="list" separator="," item="item">
    (#{item.patentId,jdbcType=VARCHAR}, #{item.status,jdbcType=INTEGER}, #{item.content,jdbcType=VARCHAR},
            #{item.name,jdbcType=VARCHAR}, #{item.applyName,jdbcType=VARCHAR}, #{item.type,jdbcType=VARCHAR},
            #{item.applyDate,jdbcType=VARCHAR}, #{item.pubNoticeNum,jdbcType=VARCHAR}, #{item.authNoticeNum,jdbcType=VARCHAR},
            #{item.legalStatus,jdbcType=VARCHAR}, #{item.caseStatus,jdbcType=VARCHAR}, #{item.authNoticeDate,jdbcType=VARCHAR},
            #{item.mainCategoryNum,jdbcType=VARCHAR}, #{item.createTime,jdbcType=TIMESTAMP}, #{item.updateTime,jdbcType=TIMESTAMP}
           )
    </foreach>
  </insert>
  <select id="selectByStatus" resultMap="BaseResultMap">
    select * from patent where status = #{status,jdbcType=INTEGER}

  </select>

</mapper>