<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.loktar.mapper.patent.PatentTradeMapper">
  <resultMap id="BaseResultMap" type="com.loktar.domain.patent.PatentTrade">
    <id column="patent_id" jdbcType="VARCHAR" property="patentId" />
    <result column="from_apply_name" jdbcType="VARCHAR" property="fromApplyName" />
    <result column="to_apply_name" jdbcType="VARCHAR" property="toApplyName" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from patent_trade
    where patent_id = #{patentId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.loktar.domain.patent.PatentTrade">
    insert into patent_trade (patent_id, from_apply_name, to_apply_name)
    values (#{patentId,jdbcType=VARCHAR}, #{fromApplyName,jdbcType=VARCHAR}, #{toApplyName,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.loktar.domain.patent.PatentTrade">
    update patent_trade
    set from_apply_name = #{fromApplyName,jdbcType=VARCHAR},
      to_apply_name = #{toApplyName,jdbcType=VARCHAR}
    where patent_id = #{patentId,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select patent_id, from_apply_name, to_apply_name
    from patent_trade
    where patent_id = #{patentId,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select patent_id, from_apply_name, to_apply_name
    from patent_trade
  </select>
</mapper>