<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.loktar.mapper.wesales.RepDiscountOpenidListMapper">
  <resultMap id="BaseResultMap" type="com.loktar.domain.wesales.RepDiscountOpenidList">
    <result column="open_id" jdbcType="VARCHAR" property="openId" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="is_send" jdbcType="INTEGER" property="isSend" />
  </resultMap>
  <insert id="insert" parameterType="com.loktar.domain.wesales.RepDiscountOpenidList">
    insert into rep_discount_openid_list (open_id, mobile, province, 
      is_send)
    values (#{openId,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, 
      #{isSend,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey">
    update rep_discount_openid_list
    set
      mobile = #{mobile,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      is_send = #{isSend,jdbcType=INTEGER}
    where open_id = #{openId,jdbcType=VARCHAR}
  </update>

  <update id="updateBatchStatus">
    UPDATE rep_discount_openid_list
    SET is_send = 1
    WHERE open_id IN
    <foreach collection="list" item="item" open="(" separator="," close=")">
      #{item.openId,jdbcType=VARCHAR}
    </foreach>
  </update>

  <select id="selectAll" resultMap="BaseResultMap">
    select open_id, mobile, province, is_send
    from rep_discount_openid_list where province not in ('广东','江苏','浙江','山东','陕西') and is_send is null
  </select>
    <select id="getNeedSendOpenids" resultMap="BaseResultMap">
      select * from rep_discount_openid_list where province = #{province,jdbcType=VARCHAR} and is_send is null limit 0,#{count,jdbcType=INTEGER}
    </select>
</mapper>