spring:
  application:
    name: loktar
  profiles:
    active: pro
server:
  port: 8080
  servlet:
    context-path: /loktar
  forward-headers-strategy: framework

springdoc:
  swagger-ui:
    path: /swagger-ui.html
mybatis:
  configuration:
    map-underscore-to-camel-case: true
  mapperLocations: classpath:com/loktar/mapper/**/xml/*.xml
logging:
  level:
    org:
      springframework:
        security: DEBUG