<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<!-- 配置生成器 -->
<generatorConfiguration>
    <!-- 执行 generator 插件生成文件的命令：mvn mybatis-generator:generate -e -->
    <!-- 引入配置文件 -->
    <properties resource="mybatis-generator.properties"/>

    <!-- 一个数据库一个 context -->
    <!-- defaultModelType="flat" 表示不分表，所有字段生成在同一个类中 -->
    <context id="MysqlTables" targetRuntime="MyBatis3Simple" defaultModelType="flat">
        <!-- 自动识别数据库关键字，遇到 Java 关键字时使用 columnOverride 覆盖 -->
        <property name="autoDelimitKeywords" value="true" />
        <!-- 生成的 Java 文件的编码 -->
        <property name="javaFileEncoding" value="utf-8" />
        <!-- 数据库对象名的标记符号，MySQL 使用反引号 -->
        <property name="beginningDelimiter" value="`" />
        <property name="endingDelimiter" value="`" />
        <!-- 格式化 Java 代码 -->
        <property name="javaFormatter" value="org.mybatis.generator.api.dom.DefaultJavaFormatter"/>
        <!-- 格式化 XML 代码 -->
        <property name="xmlFormatter" value="org.mybatis.generator.api.dom.DefaultXmlFormatter"/>

        <!-- 生成 Serializable 接口 -->
        <plugin type="org.mybatis.generator.plugins.SerializablePlugin" />
        <!-- Lombok 插件：生成 @Data 注解，替代 getter/setter/toString -->
        <plugin type="com.softwareloop.mybatis.generator.plugins.LombokPlugin" />

        <!-- 注释生成器配置 -->
        <commentGenerator>
            <!-- 不生成任何注释 -->
            <property name="suppressAllComments" value="true"/>
        </commentGenerator>

        <!-- JDBC 连接配置 -->
        <jdbcConnection driverClass="${datasource.driverClassName}"
                        connectionURL="${datasource.url}"
                        userId="${datasource.username}"
                        password="${datasource.password}" />

        <!-- 类型转换配置 -->
        <javaTypeResolver>
            <!-- 是否使用 BigDecimal，false 可自动转化为 Long/Integer/Short 等 -->
            <property name="forceBigDecimals" value="false"/>
        </javaTypeResolver>

        <!-- 生成实体类（domain）的目录配置 -->
        <modelGenerator targetPackage="${domain.package}" targetProject="${source.targetProject}">
            <property name="enableSubPackages" value="false"/>
            <property name="trimStrings" value="true"/>
        </modelGenerator>

        <!-- 生成 Mapper XML 文件的目录配置 -->
        <sqlMapGenerator targetPackage="${xmlMapper.package}" targetProject="${source.targetProject}">
            <property name="enableSubPackages" value="false" />
        </sqlMapGenerator>

        <!-- 生成 Mapper 接口（DAO）的目录配置 -->
        <clientGenerator targetPackage="${dao.package}" targetProject="${source.targetProject}" type="XMLMAPPER">
            <property name="enableSubPackages" value="false" />
        </clientGenerator>

        <!-- 要生成的表配置，tableName 支持 % 通配符匹配多张表 -->
        <table schema="${table.schema}" tableName="${table.tableName}"
               enableCountByExample="true"
               enableUpdateByExample="true"
               enableDeleteByExample="true"
               enableSelectByExample="true">
            <property name="useActualColumnNames" value="false" />
            <!-- 数据库表主键 -->
<!--            <generatedKey column="id" sqlStatement="Mysql" identity="true" />-->
        </table>
    </context>
</generatorConfiguration>
