<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.loktar.mapper.cxy.TiktokAccountMapper">
  <resultMap id="BaseResultMap" type="com.loktar.domain.cxy.TiktokAccount">
    <id column="account_id" jdbcType="INTEGER" property="accountId" />
    <result column="country" jdbcType="VARCHAR" property="country" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="faction_id" jdbcType="VARCHAR" property="factionId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="excel_start" jdbcType="VARCHAR" property="excelStart" />
    <result column="excel_end" jdbcType="VARCHAR" property="excelEnd" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tiktok_account
    where account_id = #{accountId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.loktar.domain.cxy.TiktokAccount">
    insert into tiktok_account (account_id, country, email, 
      `password`, faction_id, `status`, 
      excel_start, excel_end, create_time, 
      update_time)
    values (#{accountId,jdbcType=INTEGER}, #{country,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{factionId,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{excelStart,jdbcType=VARCHAR}, #{excelEnd,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.loktar.domain.cxy.TiktokAccount">
    update tiktok_account
    set country = #{country,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      `password` = #{password,jdbcType=VARCHAR},
      faction_id = #{factionId,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=INTEGER},
      excel_start = #{excelStart,jdbcType=VARCHAR},
      excel_end = #{excelEnd,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where account_id = #{accountId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select account_id, country, email, `password`, faction_id, `status`, excel_start, 
    excel_end, create_time, update_time
    from tiktok_account
    where account_id = #{accountId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select account_id, country, email, `password`, faction_id, `status`, excel_start, 
    excel_end, create_time, update_time
    from tiktok_account
  </select>
    <select id="selectByStatus" resultMap="BaseResultMap">
      select account_id, country, email, `password`, faction_id, `status`, excel_start,
             excel_end, create_time, update_time
      from tiktok_account  where `status` = #{status,jdbcType=INTEGER}

    </select>
</mapper>